<header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home">Sam Douglas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <!-- Note: data attributes might need to go on individual nav links -->
    <div class="navbar-nav" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
      <a class="nav-link" routerLink="work" routerLinkActive="active">Work</a>
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Contact</a>
    </div>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>